<h2> Concurrency vs. Parallelism</h2>

<pre>
	
Concurrency merupakan suatu metode untuk mengerjakan banyak tugas dalam waktu bersamaan. 
Contohnya adalah seorang yang berbelanja di mall, dia bisa mengambil banyak barang belanjaan dalam waktu yang bersamaan 
tanpa harus menunggu proses yang lain selesai. Jadi apabila kita punya 100 barang yang ingin dibeli, maka kita bisa mengambil 
barang-barang tersebut secara bersamaan tanpa harus menunggu proses yang lain di selesaikan terlebih dahulu sehingga waktu berbelanja kita menjadi lebih cepat.

Sedangkan Parallelism merupakan suatu metode untuk membagi/split satu tugas menjadi beberapa sub tugas
untuk kemudian dilakukan secara bersamaan/parallel. Contohnya, pada penjelasan mengenai Concurrency, kita
mencontohkan orang yang berbelanja 100 barang dalam waktu bersamaan, tapi tidak ada penjelasan bagaimana kita mengerjakan tiap tugas tersebut. 
Pada Parallelism, kita bisa asumsikan sebagai metode untuk mengerjakan tiap tugas tersebut agar proses pengerjaan satu tugas berjalan lebih efektif. 
Jadi misalnya, ketika kita mau mengambil satu, kita sudah mengetahui lokasi/konter dari barang yang akan kita ambil 
sehingga proses pengambilan barang menjadi lebih cepat.

</pre>



